namespace {{Namespace}}.DataContext.Inputs.{{Schema}};

/// <summary>
/// Input model for stored procedure {{ProcedureName}}
/// </summary>
public class {{Name}}Input
{
{{#each Properties}}
    /// <summary>
    /// {{Description}}
    /// </summary>
    public {{Type}} {{Name}} { get; set; }
{{/each}}
}